
<div class="main">
  <div class="header_name">
    <h4>Pay Mobile</h4>
  </div>
  <div class="airtel_Details">
      <div class="airtel-home">
           <div class="airte_data">
             <div class="airte_img">
                  <div></div>
             </div>
             <div class="airtel_home">
              <h5>Airtel</h5>
              <label>Home | 8892281946</label>
             </div>
             <div class="bill_data">
                <div class="mnthly_data">
                  <p>$ 400.00</p>
                  <h5>Monthly Average</h5>
                </div> 
                <div class="lastbill_data">
                  <p>$ 410.00</p>
                  <h5>Last Paid</h5>
                </div> 
            </div>
           </div>
      </div>
  </div>
</div>
<router-outlet></router-outlet>